#main{
	background-color:white;
	min-height: 1000px;
	width:0%
}
.col-md{
background-color:white;

float:;
min-height: 1000px;
padding: 0px;
}

.col{
background-color:#BA68C8;
min-height: 1200px;
margin-top: 10px;

}
.ref{
	padding: 5px;
	margin: 15px;
	
	
}
#img {
	border-radius:60%;
	width: 200px;
  height: 200px;
 text-align: center;
 
  
}

.row1{
	display: inline;
	width: 0%;
	vertical-align:0px;

}

.col-7 {
	width:50%;
	display: inline-block;
	float:left;
    padding:15px;


}
.col-5{

	width: 50%;
	display: inline-block;
	float:left;
	padding-top: 17px;


}
 
 .col-md-4{
 	background-color: #BA68C8;
 }

.col-md-8{
	background-color: #FFFFFF;
}

.contact{
	width: 105%;
	background-color: #ffffff;
	padding:5px;
	margin-bottom: 30px

	
	
}

.Aboutme{
	width: 105%;
	background-color: #ffffff;
	padding:5px;
	
	margin-bottom:30px;

}

.Hobbies{
	width: 105%;
	background-color: #ffffff;
	padding:5px;
	margin-top: 100%;
	
}
.profile-pic{
text-align: center;
margin: 25px 0;
}

.edu{
margin-right: 20px

}

.junior{
	margin: 5px;
	float: right;
}

.employ{
	margin-right: 20px 

	
}

.joseph{
	color: #BA68C8; 
}

.name{
	margin-bottom: 115px;
	margin-top: 115px;
}


.likes{
	text-align: center;
	margin: 1px;

}

.exe{
	margin: 5px;
}
.reading{
	margin: 5px;
}
.basket{
	margin: 0px;
}

.Address{
	margin: 35px;
}

.Travel{
	margin: 35px;
}



hr {
width: 100%;

margin-right: 70%;
height: 50%;
background-color:#BA68C8;


}
